<div class="details">
    <img src="{{movie.image}}" alt="{{movie.title}} poster" />
    <br>
    <h2>{{movie.title}}</h2>
    <br>
    <h3>Director: {{movie.director}}</h3>
    <br>
    <h4>Stars</h4>
    <br>
    <h4>{{movie.stars}}</h4>
    <br>
    <h4>{{movie.description}}</h4>
    <br>
    <h4>{{movie.showtimes}}</h4>
</div>